body{
    background-image: url(images/vintage-1557993_1920.jpg);
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    transition: 1s;
    overflow-x: hidden;
}
h1{
    margin-top: 0;
    text-align: center;
    font-size: 3.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.614);
    transition: 1s;
}
#flexContainer{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 50px;
    margin-bottom: 200px;
    transition: 1s;
}
.postitContainer{
    position: relative;
    
}
.postitContainer:hover{
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
    scale: 1.05;
}

.postitContainerDelete{
    box-shadow: 0px 0px 6px 4px red
}

img{
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -200;
}

.postitContainer h2{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h3{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    background-color:rgba(0, 0, 0, 0.644);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    opacity:0;
    transition: 0.4s;
    
}


#listManagementForm{
    position:fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.622);
}

#listManagementForm input{
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

#notePad{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transform:translateX(3000px);
    transition: 2s;
}

#list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-3000px);
    background-color: rgba(0, 0, 0, 0.734);
    width: 40%;
    height: 80vh;
    border-radius: 20px;
    min-width: 500px;
    transition: 2s;
    z-index: 20;
}
#aFaire{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 70%;
    height: 35px;
    border-radius: 40px;
    font-size: 1.2em;
}

#ulList{
    color: white;
    font-size: 1.4em;
    position: absolute;
    top: 70px;
    left: 30px;
    cursor: pointer;
    list-style: none;
}

li:before{
    content: "🔵";
    font-size: 1em;
}

li.checked:before{
    content: "✅";
    font-size: 1em;
}
li.checked:hover:after{
    content: "(Supprimer)";
    color: red;
    font-size: 0.8em;
    transition: 1s ease-in-out;
}
li.checked:hover::before{
    content: "🔴";
    font-size: 1em;
    transition: 1s ease-in-out;
}


